body,
body > div,
body > div > div {
  display: flex;
  flex-direction: column;
}

body > div > div {
  min-height: 100vh;
}

a {
  color: #235180;
}

/* wordpress css */

/* image alignment */

.alignright {
  float: right;
  margin-left: 10px;
}

.alignleft {
  float: left;
  margin-right: 10px;
}
